<%= form_for [:admin, @category, @word] do |f| %>
    <%= render "shared/error_messages", object: @word %>
    <div class="form-group">
        <%= f.label :content, "Word" %>
        <%= f.text_field :content, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= label_tag "Choices" %>
        <%= f.fields_for :choices do |choice| %>
            <%= choice.text_field :content, class: "form-control" %>
            <%= choice.check_box :is_correct, class: "d-inline" %>
            <p class="d-inline">This is the answer!</p>
        <% end %>
    </div>

    <%= f.submit 'Create new words', class: "btn btn-dark btn-block" %>
<% end %>