<div class="row">
    <div class="col-4 offset-4 mt-5">
        <h1 class="text-center title"><%= @category.title %></h1>
        <h4 class="text-center"><%= @category.description %></h4>
        <br>
        <div class="container text-center">
            <div class="btn-design">
                <%= link_to 'New words', new_admin_category_word_path, class: "btn btn-dark btn-lg" %>
            </div>
            <table class="table mt-3 table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Word</th>
                        <th scope="col">Answer</th>
                        <th scope="col">Settings</th>
                    </tr>
                </thead>
                <tbody>
                    <% @words.each do |word| %>
                        <tr>
                            <td><%= word.content %></td>
                            <td><%= word.correct_answer %></td>
                            <td>
                                <%= link_to 'Edit', edit_admin_category_word_path(@category, word) %> /
                                <%= link_to 'Delete', admin_category_word_path(@category, word), method: :delete, data: { confirm: "Are your sure?"} %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <%= link_to 'Back', admin_categories_path, class: "back-btn" %>
        </div>  
    </div>
</div>