<h1 class="text-center border-bottom p-4 mb-3"><%= @title %></h1>

<div class="paginate text-center">
    <%= will_paginate @users %>
</div>
<div class="container">
    <div class="row">
        <% @users.each do |user|%>
            <div class="col-md-6 ">
                <div class="media mb-3">
                    <div class="mr-3">
                        <% if user.avatar? %>
                            <%= image_tag user.avatar.url, class: "profile-size" %>
                        <% else%>
                            <%= image_tag 'image2.jpeg', class: "profile-size"%>
                        <% end %>
                    </div>
                    <div class="media-body">
                        <h4><%= link_to user.name, user %></h4>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<div class="paginate text-center">
    <%= will_paginate @users %>
</div>