<% if @feeds.any? %>
    <% @feeds.each do |activity| %>
        <% if activity.action_type == "Lesson" %>
            <div class = "container mt-2">
                <div class="media">
                    <div class= "media-left media-middle">
                        <% if activity.user == current_user %>
                            <% if activity.user.avatar? %>
                                <%= image_tag activity.user.avatar.url, class: "feed-picture " %>
                            <% else %>
                                <%= image_tag 'image2.jpeg', class: "feed-picture" %>
                            <% end %>
                        <% else %>
                            <% if activity.user.avatar? %>
                                <%= image_tag activity.user.avatar.url, class: "feed-picture" %>
                            <% else %>
                                <%= image_tag 'image2.jpeg', class: "feed-picture" %>
                            <% end %>
                        <% end %>
                    </div>
                    <div class="media-body aline-self-center">
                        <%= link_to_if activity.user == current_user, "You", user_path(current_user) do
                                    link_to activity.user.name, user_path(activity.user.id) end %> learned
                        <%= link_to activity.action.category.title, lesson_path(activity.action.id) %>
                        <div>
                            <small class="text-muted"><%= time_ago_in_words(activity.created_at) %></small>
                        </div>
                    </div>
                </div>
            </div>
        <% else %>
            <div class = "container mt-2">
                <div class="media">
                    <div class= "media-left media-middle">
                        <% if activity.user == current_user %>
                            <% if activity.user.avatar? %>
                                <%= image_tag activity.user.avatar.url, class: "feed-picture " %>
                            <% else %>
                                <%= image_tag 'image2.jpeg', class: "feed-picture" %>
                            <% end %>
                        <% else %>
                            <% if activity.user.avatar? %>
                                <%= image_tag activity.user.avatar.url, class: "feed-picture" %>
                            <% else %>
                                <%= image_tag 'image2.jpeg', class: "feed-picture" %>
                            <% end %>
                        <% end %>
                    </div>
                    <div class="media-body aline-self-center">
                        <% if current_user.name == activity.user.name %>
                            <%= link_to "You", current_user %>followed <%= link_to activity.action.followed.name, activity.action.followed %>
                            <div>
                                <small class="text-muted"><%= time_ago_in_words(activity.created_at) %></small>
                            </div>
                        <% else %>
                            <%= link_to activity.user.name, activity.user %>followed
                                <%= link_to activity.action.followed.name, activity.action.followed %>
                            <div>
                                <small class="text-muted"><%= time_ago_in_words(activity.created_at) %></small>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
<% else %>
Nothig to show
<% end %>