<div class="row">
    <div class="col-6 offset-3 mt-5 text-center">
        <h1>Adminiser categories</h1>
        <%= link_to "New category", new_admin_category_path , class: "btn btn-dark btn-lg"%>

        <table class="table mt-3 table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Settings</th>
                </tr>
            </thead>
            <tbody>
                <% @categories.each do |category| %>
                    <tr>
                        <td><%= link_to category.title, admin_category_words_path(category) %></td>
                        <td><%= category.description %></td>
                        <td>
                            <%= link_to 'Edit', edit_admin_category_path(category) %> /
                            <%= link_to 'Delete', admin_category_path(category), method: :delete, data: { confirm: "Are your sure?"} %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= link_to 'Back', admin_home_path, class: "back-btn" %>
    </div>    
</div>

<div class="paginate text-center">
    <%= will_paginate %>
</div>