<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="navbar-brand" href="#">
        <%# <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> %>
        <i class="fa fa-book d-inline-block align-top"></i>
    </a>
    <li>
        <%= link_to "Home",root_path, class:"nav-link py-2"%>
    </li>
    <li>
        <%= link_to "Sign-in","#", class:"nav-link py-2"%>
    </li>
    <li>
        <%= link_to "Log-in","#", class:"nav-link py-2"%>
    </li>
    <li>
        <%= link_to "Log-out","#", class:"nav-link py-2"%>
    </li>
    <li>
        <%= link_to "Users","#", class:"nav-link py-2"%>
    </li>
    <li>
        <%= link_to "Lessons","#", class:"nav-link py-2"%>
    </li>
  </div>
</nav>